#StarMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#StarMap #EdgeCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s 0.5s; }

/*
	the stars
 */
.Star {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 0%;
  font-size: 0px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0; }

.Star canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.Edge {
  width: 5%;
  height: 0.5%;
  position: absolute;
  z-index: 0; }

.Edge canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

body {
  overflow: hidden;
  margin: 0px;
  background-color: black; }

@media (orientation: portrait) {
  #DesertBackground {
    width: auto;
    height: 100%; } }
@media (orientation: landscape) {
  #DesertBackground {
    width: 100%;
    height: auto; } }
#DesertBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition: opacity 1s 0.5s; }

#PlayButton {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 60px;
  line-height: 60px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  background-color: black;
  color: white;
  opacity: 1;
  transition: opacity 0.5s; }

#VersionInfo {
  position: absolute;
  top: 70px;
  left: 10px;
  width: 180px;
  height: 16px;
  line-height: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  background-color: grey;
  color: slate;
  opacity: 1;
  transition: opacity 0.5s;
}

#VersionInfo.Disappear {
  pointer-events: none;
  opacity: 0;
}

#PlayButton.Disappear {
  pointer-events: none;
  opacity: 0; }

#PlayButton.Button {
  cursor: pointer; }

#PlayButton.Button:hover {
  color: black;
  background-color: white; }

#PlayButton.Button:hover:active {
  color: white;
  background-color: transparent; }
