@import "starmap.scss";

body {
	overflow: hidden;
}

@mixin fontStyle {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

@media (orientation:portrait) {
	#DesertBackground{
		width: auto;
		height: 100%;
	}	
}

@media (orientation:landscape) {
	#DesertBackground{
		width: 100%;
		height: auto;
	}	
}

#DesertBackground{
	position: absolute;
	top: 50%;
	left: 50%;
	// opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 1s 0.5s;
}

#PlayButton {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 180px;
	height: 60px;
	line-height: 60px;
	@include fontStyle;
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	background-color: black;
	color: white;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: opacity 0.5s;
}

#PlayButton.Disappear {
	pointer-events: none;
	opacity: 0;
}

#PlayButton.Button {
	cursor: pointer;
}

#PlayButton.Button:hover {
	color: black;
	background-color: white;
}

#PlayButton.Button:hover:active {
	color: white;
	background-color: transparent;
}