body {
  overflow: hidden;
  margin: 0px;
  background-color: black; }

#StarMap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair; }

#StarMap #EdgeCanvas {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s 0.5s; }

/*
	the stars
 */
.Star {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0%;
  height: 0%;
  font-size: 0px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0; }

.Star canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.Edge {
  width: 5%;
  height: 0.5%;
  position: absolute;
  z-index: 0; }

.Edge canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#ConstellationNames {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  transition: opacity 0.8s; }
  #ConstellationNames * {
    position: absolute;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-weight: 900;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.04em; }
  #ConstellationNames .Number {
    font-size: 7px;
    top: -9px; }
  #ConstellationNames #OurHearts {
    top: 83%;
    left: 38%;
    width: 85px; }
  #ConstellationNames #Downtown {
    top: 53%;
    left: 47%; }
  #ConstellationNames #DontFall {
    top: 42%;
    left: 27%; }
  #ConstellationNames #HeadUp {
    top: 54%;
    left: 9%; }
  #ConstellationNames #InBetween {
    top: 82%;
    left: 70%; }
  #ConstellationNames #ItsYourLife {
    top: 56%;
    left: 83%; }
  #ConstellationNames #ILiveAtNight {
    top: 27%;
    left: 77%; }
  #ConstellationNames #WalkingMirror {
    top: 11%;
    left: 56%; }
  #ConstellationNames #RightOrWrong {
    top: 13%;
    left: 32%; }
  #ConstellationNames #MyPower {
    top: 67%;
    left: 32%; }
  #ConstellationNames #LemonMoon {
    top: 33%;
    left: 51%; }

@media (orientation: portrait) {
  #DesertBackground {
    width: auto;
    height: 100%; } }
@media (orientation: landscape) {
  #DesertBackground {
    width: 100%;
    height: auto;
    /*width: auto;
    height: 100%;*/ } }
#DesertBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);
  transition: opacity 1s 0.5s; }

#PlayButton {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 60px;
  border: 3px solid black;
  opacity: 1;
  transition: opacity 0.5s; }
  #PlayButton * {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 60px;
    font-weight: 700;
    font-size: 32px;
    text-align: center; }
  #PlayButton #Text {
    width: 100%;
    background-color: transparent; }
  #PlayButton #Loading {
    width: 0px;
    transition: width 0.05s;
    background-color: black; }

#PlayButton.Disappear {
  pointer-events: none;
  opacity: 0; }

#PlayButton.Button {
  cursor: pointer; }

#PlayButton.Button:hover {
  border-color: white; }
  #PlayButton.Button:hover #Text {
    color: black; }
  #PlayButton.Button:hover #Loading {
    background-color: white; }

#PlayButton.Button:hover:active {
  border-color: transparent; }
  #PlayButton.Button:hover:active #Text {
    color: white; }
  #PlayButton.Button:hover:active #Loading {
    background-color: transparent; }

#Info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  cursor: pointer;
  background-color: black; }

#Info:hover {
  color: black;
  background-color: white; }

#Info.Active {
  color: black;
  background-color: white; }

#Info:hover:active {
  color: white;
  background-color: transparent; }

#InfoText {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 1s 0.5s;
  width: 90%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 10px 20px 10px;
  letter-spacing: 0.04em;
  word-spacing: 0.2em; }
  #InfoText a {
    text-decoration: none;
    color: white;
    font-weight: 900 !important; }
  #InfoText a:hover {
    text-decoration: underline;
    font-weight: 700; }

#InfoText.Visible {
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
