body {
	overflow: hidden;
	margin: 0px;
	background-color: black;
}

@mixin fontStyle {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

@import "starmap.scss";

@media (orientation:portrait) {
	#DesertBackground{
		width: auto;
		height: 100%;
	}	
}

@media (orientation:landscape) {
	#DesertBackground{
		width: 100%;
		height: auto;
		/*width: auto;
		height: 100%;*/
	}	
}

#DesertBackground{
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0.5;
	transform: translate(-50%, -50%);
	transition: opacity 1s 0.5s;
}

#PlayButton {

	$ButtonHeight : 60px;
	$ButtonWidth : 180px;

	position: absolute;
	top: 10px;
	left: 10px;
	width: 180px;
	height: $ButtonHeight;
	border: 3px solid black;
	opacity: 1;
	transition: opacity 0.5s;

	* {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100%;
		color: white;
		@include fontStyle;
		line-height: $ButtonHeight;
		font-weight: 700;
		font-size: 32px;
		text-align: center;
	}

	#Text {
		width: 100%;
		background-color: transparent;
	}

	#Loading {
		width: 0px;
		transition: width 0.05s;
		background-color: black;
	}

}

#PlayButton.Disappear {
	pointer-events: none;
	opacity: 0;
}

#PlayButton.Button {
	cursor: pointer;
}

#PlayButton.Button:hover {

	border-color: white;

	#Text {
		color: black;
	}

	#Loading {
		background-color: white;
	}
}

#PlayButton.Button:hover:active {
	border-color: transparent;

	#Text {
		color: white;
	}

	#Loading {
		background-color: transparent;
	}
}

#Info {
	$InfoSize : 40px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	width: $InfoSize;
	height: $InfoSize;
	line-height: $InfoSize;
	color: white;
	@include fontStyle;
	font-weight: 700;
	font-size: 28px;
	text-align: center;
	cursor: pointer;
	background-color: black;
}

#Info:hover {
	color: black;
	background-color: white;
}

#Info.Active {
	color: black;
	background-color: white;
}

#Info:hover:active {
	color: white;
	background-color: transparent;
}

#InfoText {
	position: absolute;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: opacity 1s 0.5s;
	width: 90%;	
	height: auto;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	@include fontStyle;
	font-size: 16px;
	font-weight: 700;
	padding: 20px 10px 20px 10px;
	letter-spacing: 0.04em;
	word-spacing: 0.2em;

	a {
		text-decoration: none;
		color: white;
		font-weight: 900!important;
	}

	a:hover {
		text-decoration: underline;
		font-weight: 700;
	}
}

#InfoText.Visible {
	opacity: 1;
}