$StarMapWidth : 700px;
$StarMapHeight : 700px;

#StarMap {
	position: absolute;
	top: 0px;
	left: 0px;
	width: $StarMapWidth;
	height: $StarMapWidth;
	background: url("../images/coverPlaceholder.png");
	background-repeat : no-repeat;
	background-size : 100% 100%;
}


/*
	the stars
 */
.Star {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0%;
	height: 0%;
	font-size: 0px;
	background-color : black;
}