#StarMap {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 700px;
	height: 700px;
	transform: translate(-50%, -50%);
}

#StarMap #EdgeCanvas{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 1s 0.5s;
}

/*
	the stars
 */
.Star {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 0%;
	height: 0%;
	font-size: 0px;
	// background: url("../images/whitecircle.gif");
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	// transition: opacity 0.1s, transform 0.1s;
}

.Star canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.Edge {
	width : 5%;
	height : 0.5%;
	position: absolute;
	z-index: 0;
}

.Edge canvas{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}